@import '../params.scss';


.PackagesAdd {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
    // grid-column: 1/3;

    & > * {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1/2;
    }

    textarea {
        height: 7rem;
        // width: 100%;
        // grid-column: 1/3;
    }

    .add-button {
        display: flex;
        justify-content: center;
        button {
            min-width: 15%;
        }   

    }

    .tooltip {
        // top: 0;
        left: 67%;
    }

    .package-input-fields {
        grid-template-columns: 1fr;
        row-gap: 1rem;
        // background-color: $secondary-light;
        height: max-content;
        // padding: 2rem;
        // border-radius: 2rem;

        .note {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .title, .description {
            @include inputField();
            margin-top: 0;
            border-top: .1rem solid $gray80;
        }

        .add-button {
            grid-row: 1 !important;
        }

    }
}