@import '../params.scss';


$header-height: 3.2rem;

.App {
    padding: 0;
    min-height: 100vh;

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: $header-height;
        background-color: $gray20;
        color: white;
        z-index: 100;
        display: grid;
        grid-template-columns: 28rem auto 20rem;
        align-items: center;
        font-size: 1.5rem;

        .chosen-action {
            height: 100%;
            margin-left: 2rem;
            display: flex;
            align-items: center;
        }

        .logo {
            height: 100%;
        }

        div:last-child {
            display: flex;
            justify-content: space-between;
            margin-right: 2rem;

            img {
                height: 2rem;
            }
        }
    }
    
    .block-view {
        position: fixed;
        top: $header-height;
        bottom: 0;
        left: 28rem;
        width: calc(100% - 28rem);
        background-color: white;
        overflow-y: scroll;
        padding: 2rem;
    }

    .side-bar {
        position: fixed;
        top: $header-height;
        bottom: 0;
        left: 0;
        width: 28rem;
        border-right: 0.1rem solid $gray20;

        .list-item {
            height: max-content;
            min-height: 2.5rem;
            width: 100%;
            display: grid;
            grid-template-columns: 2rem calc(100% - 4rem) 2rem;
            align-items: center;
            justify-content: space-between;
            padding: 0.2rem 1rem;
            font-size: 1.2rem;
            font-weight: bolder;
            color: black;
            text-decoration: none;
            background-color: $gray80;
            border-bottom: 0.1rem solid $gray40;

            div:hover {
                text-decoration: underline;
            }

            img {
                height: 1.2rem;
                transition: .2s all;

                &:first-child {
                    justify-self: flex-start;
                }

                &:last-child {
                    justify-self: flex-end;
                }
            }

            .left {
                transform: rotate(-180deg);
            }
        }
    }
}

.Loading {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 5rem;
        animation-name: rotation;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes rotation {
        0% {
            transform:rotate(0deg);
        }
        100% {
            transform:rotate(360deg);
        }
    }
}


.bind-list {
    @include bindList();
}

.table-container {
    @include tableContainer();
}

.users, .groups, .subs, .schedules, .schedules_times, .packs, .package, .courses,  .search {
    @include choosingSection();
}

.CreateSchedule,
.PackagesAdd,
.BindUsersGroups,
.BindGroupsSubs,
.BindPackCourses,
.BindSchedulesPack {
    @include workspace();
}