$gray80: #cdcdcd;
$gray95: #f3f3f3;
$gray40: #666666;
$gray20: #333333;
$mandarin: #ff7f50;
$gray60: #999999;
$cyanide: #008b7c;


$primary:#EB5B32;
$secondary-light:#EFEFEF;
$secondary: #E3E3E3;
$secondary-dark:#333333;
$btn-hover: #ACACAC;

@mixin searchBar() {
    &-select {
        // width: 100%;
        position: relative;
        // font-size: 1.5rem;
        // background-color: $secondary-light;
        height: max-content;
        // padding: 2rem;
        // border-radius: 2rem;
        
    }

    &-input-field, &-input-dur-field {
        width: 100%;
        height: 3rem;
        
        @include inputField();
        margin-top: 0;
        border-top: none;
        // border: none;
        // padding: 1.5rem;
        // border-radius: 10rem;
        

        // &::placeholder {
        //     color: #B5B5B5;
        // }

        // &:focus {
        //     z-index: 11;
        //     outline: none;
        //     box-shadow: 0 0 0 .1rem $primary;
        // }
    }

    &-list-container
    // , &-list-container-weekdays, &-list-container-lessons
     {
        // width: calc(100% - 1.5rem);
        position: absolute;
        left: 0;
        right: 0;
        top: 6.1rem;
        max-height: 30rem;
        overflow-x: hidden; 
        overflow-y: auto;
        // border: 0.1rem solid blue;
        background-color: #fff;
        padding: 1rem 0;
        // border-radius: 2rem;
        z-index: 10;
        color: black;
        font-size: 1.2rem;
        border: 0.1rem solid $secondary;
        border-top: none;
        
    }

    &-list-item {
        list-style: none;
        padding: 0.5rem 1rem;
        margin: 0;
        
        // color: lighten($color: blue, $amount: 10%);
        // font-weight: bold;
    }

    &-list-item:hover {
        background-color: $secondary;
        // color: white;
        cursor: pointer;
    }
}

@mixin actionButton() {
    grid-template-columns: 1fr;
    
    // grid-row: 1/3;
    display: flex;
    align-items: center;

    button {
        width: 100%;
        // padding: 1rem;
        // background-color: #fff;
        font-weight: bold;
        font-size: 1.5rem;
        // border: none;
        // color: blue;
        // cursor: pointer;
        border: none;
        outline: none;
        // background-color: $btn-hover;
        color: white;
        padding: 1rem;
        border-radius: 0.2rem;
        border: 0.1rem solid $cyanide;
        cursor: pointer;
        // transition: .1s all;
        // background-color: $cyanide;
        // box-shadow: inset 0 0 1rem white;
        background: linear-gradient(lighten($cyanide, 5%), $cyanide);

        &:hover {
            background: $cyanide;
            // background-color: $primary;
            // box-shadow: 0 0 0 .1rem $primary;
        }
    }
}

@mixin inputField() {
    // border: none;
    border: 0.1rem solid $gray80;
    
    outline: none;
    padding: 1rem;
    // border-radius: 2rem;
    
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    
    
    &::placeholder {
        color: #B5B5B5;
    }

    &:focus {
        z-index: 11;
        outline: none;
        // box-shadow: 0 0 0 .1rem $primary;
        // border: 0.1rem solid $mandarin;
        border-color: $mandarin;
    }
}

@mixin tooltip() {
    position: absolute;
    // top: -2.5rem;
    bottom: 0;
    right: calc(100% + 2rem);
    font-weight: bold;
    color: red;
    // left: 60%;

    &-top {
        top: 50% !important;
        right: 0 !important;
    }
}

@mixin bindList() {
    // color: white;
    font-size: 1.2rem;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-gap: 1rem;
    // // grid-row: 4/5;
    // width: 100%;
    font-size: 1.5rem;

    & > li {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 3fr 3fr 1fr;
        grid-gap: 1rem;
        grid-column-gap: 1.5rem;
        padding: 0.5rem;
        background-color: $gray95;
        // transition-duration: 0.1s;
        // border: 0.1rem solid white;
        // margin-bottom: 1rem;
        padding: 1rem;
    //   border-radius: 2rem;
        

        .tooltip {
        @include tooltip();
        }

        .close {
            position: absolute;
            transform: rotate(45deg);
            font-size: 2.5rem;
            font-weight: bold;
            cursor: pointer;
            right: -0.5rem;
            top: -1rem;
            color: $secondary-dark;
        }

        .bind-button {
        grid-column: 3/4;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        position: relative;
        
        button {
            padding: 0.5rem;
        }
        }

        .datetime, .works, .sub-desc {
        grid-column: 1/3;
        font-weight: bold;
        border-top: 0.1rem solid $gray60;
        padding-top: 1.5rem;
        font-size: 1.2rem;
        }

        .sub-desc textarea {
        @include inputField();
        border-top: .1rem solid $gray80;
        resize: vertical;
        width: 100%;
        }

        .works {
        @include searchBar();

        &-select {
            padding: 0;
            padding-top: 1rem;
            // 
            input {
                border-top: .1rem solid $gray80;
            }
        }

        &-list-container {
            top: 4rem;
            right: 0;
            left: 0;
        }

        &-list-item {
            border-radius: 0;

            &:hover {
                background-color: $secondary;
                color: black;
            }
        }

        &-chosen {
            li {
                padding: 0.5rem 1.5rem;
                border-radius: 5rem;
                margin-top: 0.5rem;
                background-color: $secondary;
                width: max-content;
                margin-right: 2rem;
            }
        }
        }

        .start-date, .start-time {
            @include inputField();
            padding: .5rem;
            width: max-content;
        }

        

        &:nth-child(1) {
        font-weight: bold;
        background-color: $gray20;
        color: white;
        padding: .5rem 1rem;
        grid-column: 1/2;
        grid-template-columns: 1fr 1fr;
        // margin-bottom: 1rem;
        font-size: 1.2rem;
        }
    }
}

@mixin tableContainer() {
    grid-template-columns: 1fr;
    grid-column: 1;
    // border-top: 0.1rem solid $gray60;
    margin-top: 4rem;

    .table-header {
        // background-color: $mandarin;
        // color: white;
        width: 100%;
        height: 3rem;
        font-size: 1.5rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        // justify-content: center;
        // border-radius: 10rem;
        
        position: relative;
        margin-bottom: 1rem;
        padding: 0 2rem;

        
        
        background-color: $gray95;

        input {
            @include inputField();
            height: calc(100% - 1rem);
            width: 20rem;
            margin: 0.5rem 2rem;
            margin-right: auto;
        }

        img {
            position: absolute;
            height: 60%;
            right: 2rem;
            transition: .2s all;
            transform: rotate(90deg);
            cursor: pointer;
        }

        .up {
            transform: rotate(270deg);
        }

        &:hover {
            border-color: $gray40;
        }
    }

    .table-body {
        width: 100%;
    }

    .tableView{
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        font-size: 1.3rem;
        margin-bottom: 2rem;
    
        thead{
            background-color: $gray40;
            font-weight: bold;
            color: white;
        }
    
        tbody {
            tr {
                
                &:hover{
                    background-color: lighten($color: $mandarin, $amount: 25)  !important;
                }
            }
        }
    
        tr {
            border-bottom: .1rem solid $gray80;
    
            td, th {
                text-align: center;
                padding: .5rem 2rem;
                height: max-content;
                border-right: 1px solid $gray80;
                border-bottom: 1px solid $gray80;
                vertical-align: middle;
    
                &:last-child {
                    border-right: none;
                }
            }
    
            th {
                border: none;
                border-right: 1px solid white;
                // border-left: 1px solid white;
            }
        }
    
        
    }
}

@mixin choosingSection {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-gap: 1rem;
    grid-column: 1/2;

    @include searchBar();

    &-chosen {
        width: 100%;
        font-size: 1.2rem;
        font-weight: bold;

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: max-content;
            margin-bottom: .5rem;
            background-color: $gray80;
            color: white;
            padding: 0.5rem 1rem;
            transition: .1s all;
            color: black;

            &:hover {
                background-color: $gray60;
            }

            .btn-close {
                transform: rotate(45deg);
                font-size: 2rem;
                cursor: pointer;

                &:hover {
                    color: white;
                }
            }
        }
    }

    .select-sorting {
        background-color: $gray40;
        color: white;
        display: flex;
        height: 3rem;
        align-items: center;
        font-weight: bolder;
        padding: 0.5rem 1rem;
        font-size: 1.1rem;

        span {
            margin-right: 2rem;

            &:hover {
                text-decoration: underline;
                text-decoration-color: $mandarin;
            }
        }

        img {
            height: 80%;
            border: 0.1rem solid transparent;

            &:hover {
                border-bottom: 0.1rem solid $mandarin;
            }
        }

        .active {
            color: $mandarin;
        }

        .descending {
            transform: rotateY(180deg);
        }

        .sorting-type {
            cursor: pointer;
            font-size: 1.2rem;
        }
    }
}

@mixin workspace() {
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;

    .bind-button,  .add-button {
        @include actionButton();
        grid-column: 2/3;
    }

    .-closed, .-disabled {
        display: none;
    }
}