// @import './qnet_styles/common/build';
// @import './qnet_styles/components/build';

html, body {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    // min-height: 100vh;
    // border: 1px solid greenyellow;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}
