@import '../params.scss';

.CreateSchedule {
    font-size: 1.2rem;

    form {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 6fr 1fr;
        column-gap: 1rem;
        position: relative;
        
        & > div:first-child {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }
        
        label {
            margin-bottom: 1rem;

            input {
                margin-right: 1rem;
            }
        }

        .time-input {
            margin-left: 1rem;
            @include inputField();
            padding: 0.5rem !important;
            margin-top: 0;
            border-top: .1rem solid $gray80;
        }
    }

    .schedule-weekdays, .schedule-lessons, .schedule-duration, .schedule-description {
        display: flex;
        flex-direction: column;
    }

    .schedule-duration, .schedule-description {
        textarea, input {
            @include inputField();
            border-top: .1rem solid $gray80;
        }
    }

    .schedule-duration {
        flex-direction: row;
        align-items: center;
        grid-column: 1/3;
        margin-bottom: 2rem;

        .subblock-title {
            margin-bottom: 0;
        }

        input {
            
            @include inputField();
            padding: 0.5rem 1.5rem;
            margin: 0 1rem;
        }
    }

    .schedule-description {
        grid-column: 1/3;
        textarea {
            @include inputField();
            resize: vertical;
            margin-top: 0;
        }
    }

    .actions-switch, .action-create, .action-add {
        grid-column: 1/3;
    }

    .actions-switch {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;

        div {
            padding: 0.5rem 1rem;
            background-color: $gray80;
            cursor: pointer;
            font-weight: bold;
        }

        .chosen {
            background-color: $gray20;
            color: white;
        }
    }

    .action-add {
        li {
            display: grid;
            grid-template-columns: 1fr 3fr;
            column-gap: 1rem;
            cursor: pointer;

            div {
                padding: 0.5rem 1rem;
            }

            &:nth-child(odd) {
                background-color: $gray95;
            }

            &:first-child {
                background-color: $gray40;
                color: white;
                font-weight: bold;
            }
        }

        .active {
            background-color: $gray60 !important;
        }
    }
    
    .tooltip {
        @include tooltip();
        &-top {
            top: 80% !important;
            text-align: right;
        }
      }

    .create-button {
        @include actionButton();
        align-items: flex-end;
        grid-row: 1;
        grid-column: 2;
    }

    .subblock-title {
        font-weight: bold;
        margin-bottom: 1rem;
        font-size: 1.3rem;
    }

    .weekdays, .lessons {
        color: black;
    }
}