@import "../params.scss";

.Auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: $gray95;
    

    & > div {
        font-size: 1.5rem;
        font-weight: bold;
        width: 50rem;
        text-align: center;
        padding: 1rem 2rem;
        background-color: $gray20;
        color: white;
    }

    form {
        background-color: white;
        width: 50rem;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        border: .1rem solid $gray20;
        position: relative;

        input {
            margin-bottom: 1rem;
            @include inputField();
        }

        div {
            @include actionButton();
            display: flex;
            justify-content: center;
            margin-top: 1rem;

            button {
                width: max-content !important;
                padding: 1rem 3rem;
            }
        }
    }

    &__message {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        font-size: 1.6rem;
        color: red;
    }
}
